{% extends 'shop/base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="page-btn">
    <a href="{% url 'cart' %}"><span>&#8592; Prev</span></a>
</div>
    <section class="checkout-summary">
        <h3>Order Summary</h3>
        <div class="order-items">
            {% for item in cart_items %}
            <div class="order-item">
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                <div class="item-details">
                    <h3>{{ item.product.name }}</h3>
                    <p>Quantity: {{ item.quantity }}</p>
                    <p>Price: Rs.{{ item.product.price }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="total">
                <p>Total: Rs.{{ total_price }}</p>
            </div>
        </div>
    </section>
    <section class="checkout-form">
        <h2>Shipping Information</h2>
        <form method="post" action="{% url 'success' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Complete Purchase</button>
        </form>
    </section>


{% endblock %}
